.theme-nc-light {
  --shade-color: #f5f5f5;
  --primary-color: #f5f5f5;
  --accent-color: #5a3699;
  --accent-HS: 270, 50%;
  --accent-HSL: 270, 50%, 40%;
  --success-color: #77b389;
  --warning-color: #ff0;
  --danger-color: #ea7272;
  --gray-light: #e0e0e0;
  --gray-dark: #454545;
  --gold-color: #d4af37;
}

.theme-nc-dark {
  --shade-color: #482c79;
  --primary-color: #5a3699;
  --accent-color: #7dac20;
  --accent-HS: 270, 50%;
  --accent-HSL: 270, 50%, 40%;
  --success-color: #77b389;
  --warning-color: #ff0;
  --danger-color: #ea7272;
  --gray-light: #e0e0e0;
  --gray-dark: #454545;
  --gold-color: #d4af37;
}
